body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
    color: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.barre_entete {
    background-color: rgb(206, 67, 118);
    padding: 15px;
}

.barre_entete h1 {
    font-size: small;
    color: white;
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.barre_entete a {
    text-decoration: none;
}

.barre_entete a img {
    width: 100px;
    transition: 0.5s;
}

.barre_entete a img:hover {
    width: 110px;
}

.Link_barrre {
    float: right;
}

/*********************************************header caroussel***********************************/
header {
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    overflow: hidden;
    background-image: url("album/fond.jpg");
    background: linear-gradient(to bottom, transparent, mistyrose), url("album/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    word-wrap: break-word;
    background-position: center;
}

header h2 {
    font-size: 60px;
    color: white;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

header p {
    color: rgb(206, 67, 118);
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

header h3 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    transition: ease-in-out 0.5s;
}

header a:hover {
    letter-spacing: 2px;
}

/******************************main*************************/
main {
    margin: 0 auto;
    width: 95%;
    margin-top: 50px;
    padding: 10px;
}

main h2,
h6 {
    text-align: center;
    text-transform: uppercase;
}

main h2 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

main h6 {
    color: rgb(206, 67, 118);
}

/********************************section********************************************/
section {
    margin: 0 auto;
    width: 95%;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section div {
    flex-basis: 45%;

}

section div h4 {
    color: rgb(206, 67, 118);
}

.sectionDiv2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sectionDiv2 div {
    flex-basis: 49%;
    margin-top: 20px;
}

.sectionDiv2 div img {
    width: 100%;
    height: 200px;
    transition: ease-in-out 0.5s;
    animation: AnimImage 1s alternate infinite;
}

@keyframes AnimImage {
    from {
        rotate: 5deg;
    }

    to {
        rotate: 0deg;
    }
}

.sectionDiv2 div {
    text-align: center;
}

.sectionDiv2 div h6 {
    text-transform: lowercase;
    font-weight: bold;
}

/**************************article********************************/
article {
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article div {
    flex-basis: 20%;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px gainsboro;
    transition: ease-in-out all 0.5s;
}

article div:hover {
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

article div h4 {
    font-size: small;
    color: gray;
}

/***************************contactez-nous-----------------*/
.contact {
    margin: 0 auto;
    margin-top: 150px;
    width: 90%;
}

.contact h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.contactTitre {
    border-bottom: 4px solid rgb(206, 67, 118);

}

.conta {
    color: rgb(206, 67, 118);
}

.contact h6 {
    text-align: center;
    text-transform: lowercase;
}

.formulaire {
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
    box-shadow: 0px 0px 10px whitesmoke;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(236, 229, 229);
    border-radius: 10px;
}

.formulaire form {
    width: 90%;
    margin: auto;
    text-align: center;
}

.formulaire form input {
    padding: 10px;
    width: 100%;
    height: 30px;
    outline-color: rgb(206, 67, 118);
    border: none;
    border-radius: 5px;
}

.formulaire form input::placeholder {
    opacity: 0.3;
}

.formulaire form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    outline-color: rgb(206, 67, 118);
    border-radius: 5px;
    border: none;
}

.formulaire form textarea::placeholder {
    opacity: 0.3;
}

.formulaire form button {
    background-color: rgb(206, 67, 118);
    border: none;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    box-shadow: 0px 0px 10px gainsboro;
}

.formulaire form button:hover {
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: bold;

}

/*******************************footer****************************************/
footer {
    margin-top: 200px;
    background-color: #010101;
    padding: 20px;
    color: white;
}

.footerContenaire {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerContenaire div {
    margin-top: 20px;
    flex-basis: 20%;
}

.footerContenaire div h4 {
    text-transform: uppercase;
    color: rgb(206, 67, 118);
}

.footerContenaire div ul {
    list-style-type: none;
}

.footerContenaire div ul li {
    display: inline-block;
    padding: 5px;
    transition: ease-in-out 0.5s;
}

.footerContenaire div ul li:hover {
    padding: 7px;
}

.footerContenaire div ul li a {
    text-decoration: none;
    background-color: white;
    padding: 5px;
}

@media screen and (max-width:1100px) {

    section {
        margin-top: 30px;
    }

    section div {
        flex-basis: 90%;
    }
}

@media screen and (max-width:1000px) {
    article div {
        flex-basis: 40%;
    }

    .formulaire {
        width: 80%;
    }

    .footerContenaire div {
        flex-basis: 50%;
    }
}

@media screen and (max-width:700px) {
    header {
        text-align: center;
        padding: 20px;
    }

    .sectionDiv2 div {
        flex-basis: 100%;
    }

    .sectionDiv2 div img {
        animation: none;
        border-radius: 10px;
        box-shadow: 0px 0px 5px gainsboro;
    }

    article div {
        flex-basis: 100%;
    }

    .formulaire {
        width: 90%;
    }

    .footerContenaire div {
        flex-basis: 100%;
    }
}